<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ summary or metadata.description }}">
    <link rel="icon" href="{{ '/favicon.ico' | url }}">
    <title>{{ title or metadata.title }}</title>
    <style>
      :root {
        --hue: 213;
        --font-color: hsla(var(--hue),100%,10%,1);
        --background-color: hsla(var(--hue),100%,100%,1);
        --accent-color: hsla(var(--hue),100%,33%,1);
      }
      @media (prefers-color-scheme: dark) {
        :root {
          --font-color: hsla(var(--hue),100%,94%,1);
          --background-color: hsla(var(--hue),100%,0%,1);
          --accent-color: hsla(var(--hue),100%,67%,1);
        }
      }
      body {
        max-width: 65ch;
        margin: 1rem auto;
        padding: 0 0.75rem;
        font-size: min(calc(14px + 0.5vw), 22px);
        line-height: 1.5;
        font-family: sans-serif;
        color: var(--font-color);
        background-color: var(--background-color);
      }
      a {
        color: var(--accent-color);
      }
      a:hover {
        text-decoration: none;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      article > :not(pre), header, body > a {
        padding: 0 1rem;
      }
      article > blockquote, blockquote {
          margin: 1rem 0;
          padding: 0 0.7rem;
          border-left: 0.3rem solid var(--accent-color);
      }
      hr {
        margin: 1rem;
      }
      ul, ol {
        padding-inline-start: 1rem;
      }
    </style>
    {% ifContentWithCode content %}
      <link href="{{ '/prism-nord.css' | url }}" rel="stylesheet">
    {% endifContentWithCode %}
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      <a href="{{ metadata.xmlFeedPath | url }}" style="float: right;">rss</a>
    </header>

    {{ content | safe }}
  </body>
</html>
