<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ summary or metadata.description }}">
    <link rel="icon" href="{{ '/favicon.ico' | url }}">
    <title>{{ title or metadata.title }}</title>
    <style>
      :root {
        --font-color: hsla(213,100%,10%,1);
        --background-color: hsla(213,100%,100%,1);
        --accent-color: hsla(213,100%,80%,1);
      }
      @media (prefers-color-scheme: dark) {
        :root {
          --font-color: hsla(213,100%,95%,1);
          --background-color: hsla(213,100%,0%,1);
          --accent-color: hsla(213,100%,30%,1);
        }
      }
      html {
        max-width: 60ch;
        margin: auto;
        font: 16px/1.5 sans-serif;
        color: var(--font-color);
        background-color: var(--background-color);
      }
      @media (max-width: 380px) {
        html {
          font-size: 15px;
        }
      }
      @media (max-width: 360px) {
        html {
          font-size: 14px;
        }
      }
      @media (max-width: 350px) {
        html {
          font-size: 13px;
        }
      }
      @media (min-width: 720px) {
        html {
          font-size: 18px;
        }
      }
      @media (min-width: 1000px) {
        html {
          font-size: 21px;
        }
      }
      a {
        color: inherit;
        text-decoration: none;
        background-image: linear-gradient(transparent 0%, transparent 43%, var(--accent-color) 43%, var(--accent-color) 100%);
        transition: background-position 200ms ease-in-out 0s;
        background-size: 100% 200%;
        background-position: 0px 0px;
      }
      a:hover {
        background-position: 0px 100%;
      }
      @-moz-document url-prefix() {
          a {
            padding-top: 0.15em; /* fix link's appearance in firefox */
          }
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      blockquote {
          margin: 1em 0;
          padding: 0 1em;
          border-left: 0.3em solid var(--accent-color);
      }
    </style>
    <link href="{{ '/prism-nord.css' | url }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="{{ '/' | url }}">{{ metadata.title }}</a>
    </header>

    {{ content | safe }}
  </body>
</html>
