---
layout: _layouts/base
---
<article>
<h1>{{ title }}</h1>

{%- if date %}
  <time datetime="{{ date | htmlDateString }}">
    {{ date | readableDate }}
  </time>
{% endif %}

{{ content | safe }}
</article>

{%- set previousPost = collections.all | getPreviousCollectionItem(page) %}
{%- set nextPost = collections.all | getNextCollectionItem(page) %}

{%- if previousPost or nextPost %}
<p>
<span aria-hidden="true">{ </span>{%- if previousPost %}<span>"previous": </span><a href="{{ previousPost.url | url }}" rel="prev">"{{ previousPost.data.title }}"</a>{% endif %}{%- if previousPost and nextPost %}<span aria-hidden="true">, </span>{% endif %}{%- if nextPost %}<span>"next": </span><a href="{{ nextPost.url | url }}" rel="next">"{{ nextPost.data.title }}"</a>{% endif %}<span aria-hidden="true"> }</span>
</p>
{% endif %}
