---
layout: _layouts/base
---
<article>
<h1>{{ title }}</h1>

{%- if date %}
  <time datetime="{{ date | htmlDateString }}">
    {{ date | readableDate }}
  </time>
{% endif %}

{{ content | safe }}
</article>

{%- set previousPost = collections.all | getPreviousCollectionItem(page) %}
{%- if previousPost %}
<a href="{{ previousPost.url | url }}" rel="prev">← {{ previousPost.data.title }}</a>
{% endif %}

{%- set nextPost = collections.all | getNextCollectionItem(page) %}
{%- if nextPost %}
<a href="{{ nextPost.url | url }}" rel="next">{{ nextPost.data.title }} →</a>
{% endif %}
