---
layout: _layouts/base
eleventyExcludeFromCollections: true
---
<article>
<h1>
  {{ metadata.title }}
</h1>
<p>
  {{ metadata.description }}
</p>
</article>

<ul>
{%- for post in collections.all | reverse -%}
  <li>
    <p>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      <time datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate }}
      </time>
    </p>
  </li>
{%- endfor -%}
</ul>
