---
layout: _layouts/base
eleventyExcludeFromCollections: true
---
{%- for post in collections.all | reverse -%}
<article>
  <header>
    <h1>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>
    <time datetime="{{ post.date | htmlDateString }}">
      {{ post.date | readableDate }}
    </time>
  </header>
  <p>
    {{ post.data.summary }}
  </p>
</article>
{%- endfor -%}
